# npm
Backend/node_modules
Backend/package-lock.json
Backend/*.log
Backend/*.gz
Backend/*.env

AppAvance/.DS_Store
AppAvance/*.swp
AppAvance/*~.nib
AppAvance/build/
AppAvance/*.pbxuser
AppAvance/*.perspective
AppAvance/*.perspectivev3
