# npm
Backend/node_modules
Backend/package-lock.json
Backend/*.log
Backend/*.gz
Backend/*.env

# OS X Finder
AppAvance/.DS_Store

# Xcode per-user config
AppAvance/*.mode1
AppAvance/*.mode1v3
AppAvance/*.mode2v3
AppAvance/*.perspective
AppAvance/*.perspectivev3
AppAvance/*.pbxuser
AppAvance/*.xcworkspace
AppAvance/xcuserdata

# Build products
AppAvance/build/
AppAvance/*.o
AppAvance/*.LinkFileList
AppAvance/*.hmap

# Automatic backup files
AppAvance/*~.nib/
AppAvance/*.swp
AppAvance/*~
AppAvance/*.dat
AppAvance/*.dep
AppAvance/AppAvance/SocialConnect.xcodeproj/project.xcworkspace/xcuserdata/alumno.xcuserdatad/UserInterfaceState.xcuserstate
AppAvance/AppAvance/SocialConnect.xcodeproj/project.xcworkspace/xcuserdata/patricio.xcuserdatad/UserInterfaceState.xcuserstate
AppAvance/AppAvance/SocialConnect.xcodeproj/project.xcworkspace/xcuserdata/pedroalonsoms.xcuserdatad/UserInterfaceState.xcuserstate
AppAvance/AppAvance/SocialConnect.xcodeproj/project.xcworkspace/xcuserdata/patricio.xcuserdatad/UserInterfaceState.xcuserstate
